
@inject SignInManager<User> SignInManager

@{
    bool userIsSigned = SignInManager.IsSignedIn(User);
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.css">
    <link rel="stylesheet" href="~/css/main_style.css">
    @await RenderSectionAsync("Styles", required: false)
    <title>@ViewData["Title"] - TwitterUni</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-xl-3 col-lg-1 col-2 col-nv-override">
                <nav>
                    <a class="logo" asp-controller="Home" asp-action="Index">
                        <i class="fa-brands fa-twitter"></i>
                        <span>Twitter</span>
                    </a>

                    <div class="nav-list">
                        <ul>
                            <li class="@Html.IsActive("Home", "Index", "nv-main-active")">
                                <a asp-controller="Home" asp-action="Index">
                                    <div class="nav-icon">
                                        <i class="fa-solid fa-house"></i>
                                    </div>
                                    <span>Home</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="nav-icon">
                                        <i class="fa-solid fa-hashtag"></i>
                                    </div>
                                    <span>Explore</span>
                                </a>
                            </li>

                            @if (userIsSigned)
                            {
                                <li class="@Html.IsActive("User", "All", "nv-main-active")">
                                    <a asp-action="All" asp-controller="User">
                                        <div class="nav-icon">
                                            <i class="fa-solid fa-users"></i>
                                        </div>
                                        <span>All Users</span>
                                    </a>
                                </li>

                                <li class="@Html.IsActive("User", "Profile", "nv-main-active")">
                                    <a href="@Url.Action("Profile", "User", new { Id = User.Identity.Name })">
                                        <div class="nav-icon">
                                            <i class="fa-solid fa-user"></i>
                                        </div>
                                        <span>Profile</span>
                                    </a>
                                </li>
                            }
                            
                        </ul>

                        @if (userIsSigned && Html.IsActive("Tweet", "Create", "active") != "active")
                        {
                            <a class="tweet-btn" asp-action="Create" asp-controller="Tweet">
                                <i class="fa-solid fa-pen d-none"></i>
                                <span>Tweet</span>
                            </a>
                        }
                        
                    </div>

                    @if (userIsSigned)
                    {
                        <form asp-area="Account" asp-controller="Auth" asp-action="Logout" method="post">
                            <button type="submit" class="logout-prf-btn">
                                <i class="fa-solid fa-right-from-bracket"></i>
                                <span>Log Out</span>
                            </button>
                        </form>
                    }
                    else
                    {
                        <div class="auth-box">
                            <a class="auth-link" asp-area="Account" asp-controller="Auth" asp-action="Login">
                                <i class="fa-solid fa-right-to-bracket"></i>
                                <span>Login</span>
                            </a>

                            <a class="auth-link" asp-area="Account" asp-controller="Auth" asp-action="Register">
                                <i class="fa-sharp fa-solid fa-user-plus"></i>
                                <span>Register</span>
                            </a>
                        </div>
                    }
                </nav>
            </div>

            <main class="col-xl-9 col-lg-11 col-10">
                @RenderBody()
            </main>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js//site.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
