@model ICollection<UserData>

<div class="profiles">
    <h3>Who to follow</h3>

    @foreach (var user in Model)
    {
        bool isFollowing = user.FollowersCollection
            .Any(f => f.TheFollower.UserName == User.Identity.Name);

        if (!User.Identity.Name.Equals(user.UserName))
        {
            <div>
                <a href="@Url.Action("Profile", "User", new { Id = user.UserName })">
                    <img src="~/content/images/@(user.ProfilePic ?? "default_prf_pic.png")">
                    <span>
                        <p>@user.FirstName @user.LastName</p>
                        @@@user.UserName
                    </span>
                </a>
                <button class="@(isFollowing ? "following": "")" 
                    id="@(isFollowing ? "Unf" : "F" )ollowUser-@(user.UserName)">
                    Follow@(isFollowing ? "ing" : "")
                </button>
            </div>
            
        }
    }
    
    @if (Model.Count > 4)
    {
        <a class="see-all" asp-action="All" asp-controller="User">See all</a>
    }
    
</div>
