@model TweetData

@inject SignInManager<User> signInManager

<article class="tweet">

    <div id="tweet,@Model.Id" class="main-tweet">
        <div class="left-profile">
            <a href="@Url.Action("Profile", "User", new {Id = Model.Author.UserName })">
                <img class="prf-pic" src="~/content/images/@Model.Author.ProfilePic">
            </a>

            @if (false)
            {
                <div class="rep-line"></div>
            }
        </div>

        <div class="right-content">
            <div class="user-identity">
                <a href="@Url.Action("Profile", "User", new {Id = Model.Author.UserName })">
                    @Model.Author.FirstName @Model.Author.LastName
                </a>
                <p>@@@Model.Author.UserName</p>
                <span>·</span>
                <p id="tweet-time">@Model.CreatedAt.ToString("d")</p>

                @if (Model.Author.UserName == User.Identity?.Name)
                {
                    <div class="ms-auto">
                        <button class="tweet-more" data-bs-toggle="dropdown">
                            <i class="fa-solid fa-ellipsis"></i>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><button class="dropdown-item" href="#">Another action</button></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </div>
                }
            </div>

            <div class="text-content">
                @Model.TextContent

                @if (Model.Image is not null)
                {
                    <div class="image-content">
                        <img src="~/content/images/tweets/@Model.Image">
                    </div>
                }
            </div>

            @if (signInManager.IsSignedIn(User))
            {
                <div class="reactions">
                    <button id="comments" class="stat">
                        <i class="fa-regular fa-comment"></i>1000
                    </button>

                    <button id="retweets" class="stat">
                        <i class="fa-solid fa-retweet"></i>1000
                    </button>

                    <button id="likes" class="stat">
                        <i class="fa-regular fa-heart"></i>@Model.LikesCount
                    </button>
                </div>
            }
        </div>
    </div>
</article>

