@model TweetData

@inject SignInManager<User> signInManager

@{
    bool signedIn = signInManager.IsSignedIn(User);
    bool liked = Model.UserLikes.Any(u => u.UserName == User.Identity?.Name);
    bool retweeted = Model.Retweets.Any(r => r.RetweetedBy.UserName == User.Identity?.Name);
}

<article class="tweet">

    <div id="tweet,@Model.Id" class="main-tweet">
        <div class="left-profile">
            <a href="@Url.Action("Profile", "User", new {Id = Model.Author.UserName })">

                @if (Model.Author.ProfilePic.StartsWith("https://"))
                {
                    <img class="prf-pic" src="@Model.Author.ProfilePic">
                }
                else
                {
                    <img class="prf-pic" src="~/content/images/@Model.Author.ProfilePic">
                }

            </a>
        </div>

        <div class="right-content">
            <div class="user-identity">
                <a href="@Url.Action("Profile", "User", new {Id = Model.Author.UserName })">
                    @Model.Author.FirstName @Model.Author.LastName
                </a>
                <p>@@@Model.Author.UserName</p>
                <span>·</span>
                <p id="tweet-time">@Model.CreatedAt.ToString("d")</p>

                @if (Model.IsRetweet)
                {
                    <span class="badge bg-info rounded-pill badge-custom">Retweet</span>
                }

                @if (Model.Author.UserName == User.Identity?.Name)
                {
                    <div class="ms-auto">
                        <button class="tweet-more" data-bs-toggle="dropdown">
                            <i class="fa-solid fa-ellipsis"></i>
                        </button>
                        <ul class="dropdown-menu">
                            <li><button data-bs-toggle="modal" data-bs-target="#delete-modal" class="dropdown-item open-delete">Delete</button></li>
                        </ul>
                    </div>
                }
            </div>

            <div class="text-content">
                @Model.TextContent

                @if (Model.Image is not null)
                {
                    <div class="image-content">

                        @if (Model.Image.StartsWith("https://"))
                        {
                            <img src="@Model.Image">
                        }
                        else
                        {
                            <img src="~/content/images/tweets/@Model.Author.UserName/@Model.Image">
                        }
                        
                    </div>
                }
            </div>

            @if (signInManager.IsSignedIn(User))
            {
                <div class="reactions">
                    <button class="stat comments-stat">
                        <i class="fa-regular fa-comment"></i>
                        @Model.CommentsCount
                    </button>

                    <button class="stat retweets-stat @(retweeted ? "retweeted" : "")">
                        <i class="fa-solid fa-retweet"></i>
                        @Model.Retweets.Count
                    </button>

                    <button class="stat likes-stat @(liked ? "liked" : "")">
                        <i class="fa-@(liked ? "solid" : "regular") fa-heart"></i>
                        @Model.UserLikes.Count
                    </button>
                </div>
            }
        </div>
    </div>
</article>

